
<div 
id="cart" 
class="relative h-full w-full rounded-xl bg-white/30 shadow-lg ring-1 ring-black/5 backdrop-blur-[50px] py-10" 
x-data="{ mobileMenuOpen: false }">
    <div class="px-4">Cart Name</div>
</div>

